.content {
    width: 100%;
    padding: 3rem 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content .headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.content .headline h1 {
    font-size: 2.2rem;
    padding: 1rem;
    border-radius: 10px;
    background: linear-gradient(0deg, var(--red-200), var(--red-400));
    box-shadow: 7px 7px 10px var(--red-100);
    color: var(--white);
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.50);
}

.content .headline h2 {
    margin: 3rem 0;
    font-size: 2.7rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.50);
}

.content p {
    text-align: center;
    margin-top: 1.5rem;
}

.content button {
    font-size: 2.5rem;
    margin-top: 4rem;
}

@media screen and (max-width: 1000px) {
    
    .content {
        padding: 1rem 0 0rem;
    }

    .content .headline h1 {
        font-size: 1.5rem;
    }
    
    .content .headline h2 {
        margin: 2rem 0;
        font-size: 1.6rem;
    }

    .content p {
        font-size: .7rem;
    }
    
    .content button {
        font-size: 1rem;
        margin-top: 2rem;
    }
}


