.vsl iframe {
    box-shadow: 17px 15px 0px 0px #a3160d;
    width: 700px;
    height: 394px;
    border-radius: 6px;
}

@media screen and (max-width: 1000px) {

    .vsl iframe {
        width: 359px;
        height: 202px;
    }

}