.container {
    max-width: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    margin: 0 auto;
    padding: 1rem 0;
}

@media screen and (max-width: 1000px) {

    .container {
        max-width: 50rem;
        gap: 1rem;
        margin: 0 auto;
        padding: .8rem;
    }

}