.content {
    text-align: center;
    width: 60%;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    flex-direction: column;
    padding-bottom: 2rem;
}

.content .politica {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.content .copyright {
    margin-bottom: .8rem;
}

.content .desc {
    font-size: 0.625rem;

    
}

@media screen and (max-width: 1000px) {

    .content {
        margin-top: 2rem;
        width: 90%;

        
    }
}
